doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="")
    meta(name="author" content="")

    title Hello SpyfallXServer!
    link(rel="stylesheet" href=static_path(@conn, "/css/app.css"))
    link(rel="stylesheet" href=static_path(@conn, "/css/components.css"))

  body
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      nav(role="navigation")
        ul.nav.nav-pills.pull-right
          li
            = if Coherence.logged_in?(@conn) do
              = link("logout", to: session_path(@conn, :delete), class: "fas fa-sign-in", method: "delete")
            - else
              a.fas.fa-sign-in(href=session_path(@conn, :new)) sign in
              a.fas.fa-sign-in(href=registration_path(@conn, :new)) register
      span.logo

      // p.alert.alert-info(role="alert") = get_flash(@conn, :info)
      // p.alert.alert-danger(role="alert") = get_flash(@conn, :error)
    .container
      main(role="main") = render @view_module, @view_template, assigns

    script(src=static_path(@conn, "/js/app.js"))
